annotated-types==0.7.0
anyio==4.10.0
attrs==25.3.0
Automat==25.4.16
bidict==0.23.1
bitarray==3.7.1
bitstring==4.3.1
blinker==1.9.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
constantly==23.10.4
dnspython==2.7.0
eventlet==0.40.3
fastapi==0.116.1
Flask==3.1.2
Flask-SocketIO==5.5.1
greenlet==3.2.4
h11==0.16.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mysql-connector-python==9.4.0
pydantic==2.11.7
pydantic_core==2.33.2
pyllrp==3.1.1
python-engineio==4.12.2
python-socketio==5.13.0
requests==2.32.5
simple-websocket==1.1.0
sllurp==2.0.1
sniffio==1.3.1
starlette==0.47.3
tornado==6.5.2
Twisted==25.5.0
typing-inspection==0.4.1
typing_extensions==4.15.0
urllib3==2.5.0
uvicorn==0.35.0
websockets==15.0
Werkzeug==3.1.3
wsproto==1.2.0
zope.interface==7.2
